<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--Azure Demo-->
    <!--metadata=res://*/Models.Senparc.csdl|res://*/Models.Senparc.ssdl|res://*/Models.Senparc.msl;provider=System.Data.SqlClient;provider connection string="data source=senparc.database.chinacloudapi.cn;initial catalog=AzureDemo;user id=yfu;password=fuyk#Senparc;MultipleActiveResultSets=True;App=EntityFramework"-->
    <add name="SenparcEntities" connectionString="metadata=res://*/Models.Senparc.csdl|res://*/Models.Senparc.ssdl|res://*/Models.Senparc.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=WeixinMarketing;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>